@import 'neat-helpers'; // or '../neat/neat-helpers' when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

// Neat Breakpoints
$small-screen: 500px;
$medium-screen: 800px;
$large-screen: 1400px;
$mo-screen: 1024px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

$desktop: new-breakpoint(max-width $large-screen 8);
$tablet: new-breakpoint(max-width $medium-screen 8);
$mobile: new-breakpoint(max-width $small-screen 8);
$mo: new-breakpoint(max-width $mo-screen 8);
