.header {
  background-color: #373D49;
  color: white;
  height: 65px;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;

  &__logo {
    width: 200px;
    margin: 0 auto;
    padding-top: 4px;
  }
}
